# Information for discord
TOKEN=''
APPID=''
GUILDID=''

DEVTOKEN=''
DEVAPPID=''

# Credentials for PostgreSQL
POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_DB=''
POSTGRES_PORT=
POSTGRES_URL=''

# Credentials for Twitch API
TWITCH_CLIENT_ID=''
TWITCH_CLIENT_SECRET=''